        // colors palettes
// first palette
$lavender-web: #d7dae5ff;
$beau-blue: #b9cddaff;
$powder-blue: #a6d8d4ff;
$cambridge-blue: #8eaf9dff;
$nickel: #6b7d7dff;

// second palette
$perfect-black : #1E2022;
$blue-grey: #52616B;
$light-blue: #C9D6DF;
$dark-white: #F0F5F9;

//third palette
$acid-green: #b8b42dff;
$avocado: #697a21ff;
$ivory: #fffce8ff;
$black-coffee: #3e363fff;
$cg-red: #dd403aff;

//final palette
$primary : #CDC9C3;
$secondary : #FBF7F0;
$tertiary : #D9E4DD;
$night : #555555;