        // colors palettes
// first palette
$lavender-web: #d7dae5ff;
$beau-blue: #b9cddaff;
$powder-blue: #a6d8d4ff;
$cambridge-blue: #8eaf9dff;
$nickel: #6b7d7dff;

// second palette
$perfect-black : #1E2022;
$blue-grey: #52616B;
$light-blue: #C9D6DF;
$dark-white: #F0F5F9;

//third palette
$acid-green: #b8b42dff;
$avocado: #697a21ff;
$ivory: #fffce8ff;
$black-coffee: #3e363fff;
$cg-red: #dd403aff;

//final palette
$primary : #CDC9C3;
$secondary : #FBF7F0;
$tertiary : #D9E4DD;
$night : #555555;
// header color
$backHeader: #596E79;

// palette
$goodWhite: #F7F7F7;
$alsoWhite: #EFEFEF;
$goodGreen: #AAAE7F;
$greenLight: #D0D6B3;
$goodRed: #006494;
$navColor : #3F88C5;

//font
$titleFont : 'Bangers', cursive;;
$textFont : 'Special Elite', cursive;;