        // colors palettes
// first palette
$lavender-web: #d7dae5ff;
$beau-blue: #b9cddaff;
$powder-blue: #a6d8d4ff;
$cambridge-blue: #8eaf9dff;
$nickel: #6b7d7dff;

// second palette
$perfect-black : #1E2022;
$blue-grey: #52616B;
$light-blue: #C9D6DF;
$dark-white: #F0F5F9;