@import "_variables.scss";

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;    
    background-color: $goodWhite;
}

.introduction{
    flex-basis: 20rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $goodRed;
    &__para{
        order: 2;
        align-self: center;
    }
    &__titre{
        font-size: 4rem;
        order: 1;
        align-self: center;
        font-family: $titleFont;
    }
    &__navigation{
        font-size: 2em;
        order: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__element{
            color: black;
        }
    }
}
.center{
    flex-basis: auto;

    display: flex;
    &__menu{
        
        &__classification{
          
        }
        align-self: flex-start;
        
        
        background-color: $greenLight;
        
        width: 15%;
        border: 1px solid green;
    }
    &__movie{
        
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        &__card{
            position: relative;
            
            width: 400px;
            height: 650px;
            perspective: 1000px;


            &__inner{
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 1s;
                transform-style: preserve-3d;

                &:hover{
                    transform: rotateY(180deg);
                }
                    
                &__front{
                    box-shadow: 5px 5px 10px grey;

                   position: absolute;
                   backface-visibility: hidden;
                   -webkit-backface-visibility: hidden;
                                                            
                    &__poster{  
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        
                        
                    }
                }
                &__back{
                    box-shadow: 5px 5px 10px $alsoWhite;

                    position: absolute;
                    top: 0;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    transform: rotateY(180deg);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    background-color: white;
                    flex-direction: column;
                    justify-content: space-evenly;

                    &__genre{
                        margin-left: 1.5rem;
                        padding: 0.5rem;
                        align-self: flex-start;
                        border-radius: 30px;
                        background-color: $beau-blue;
                    }
                    &__titre{
                        font-size: large;
                        align-self: center;
                        font-family: $titleFont;
                        font-size: 2rem;
                    }
                    &__date{
                        padding-left: 1rem;
                        opacity: 0.5;
                    }
                    &__description{
                        color: $night;
                        text-align: justify;
                        font-family: $textFont;
                        line-height: 1.5;
                        padding: 2rem;
                    }
                    &__note{
                        font-weight: bold;
                        align-self: flex-end;
                        padding-right: 1rem;
                    }
                    &__link{
                        opacity: 0.75;
                    }
                
                }
            }
        }
    }
}


.end{
    flex-basis: 200px;
    background-color: $goodRed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__streaming{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
}