* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
}

.introduction {
  flex-basis: 20rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #006494;
}
.introduction__para {
  order: 2;
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
}
.introduction__titre {
  font-size: 4rem;
  order: 1;
  align-self: center;
  font-family: "Bangers", cursive;
}
.introduction__navigation {
  list-style: none;
  font-size: 2em;
  order: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.introduction__navigation__element {
  border-radius: 30%;
  padding: 1rem;
  text-decoration: none;
  color: black;
}
.introduction__navigation__element:hover {
  background-color: #3F88C5;
  transition: background-color linear 1s;
}

.center {
  flex-basis: auto;
  display: flex;
}
.center__movie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.center__movie__card {
  position: relative;
  width: 400px;
  height: 650px;
  perspective: 1000px;
}
.center__movie__card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.center__movie__card__inner:hover {
  transform: rotateY(180deg);
}
.center__movie__card__inner__front {
  box-shadow: 5px 5px 10px grey;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.center__movie__card__inner__front__poster {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.center__movie__card__inner__back {
  box-shadow: 5px 5px 10px #EFEFEF;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-evenly;
}
.center__movie__card__inner__back__genre {
  margin-left: 1.5rem;
  padding: 0.5rem;
  align-self: flex-start;
  border-radius: 30px;
  background-color: #b9cdda;
}
.center__movie__card__inner__back__titre {
  font-size: large;
  align-self: center;
  font-family: "Bangers", cursive;
  font-size: 2rem;
}
.center__movie__card__inner__back__date {
  padding-left: 1rem;
  opacity: 0.5;
}
.center__movie__card__inner__back__description {
  color: #555555;
  text-align: justify;
  font-family: "Special Elite", cursive;
  line-height: 1.5;
  padding: 2rem;
}
.center__movie__card__inner__back__note {
  font-weight: bold;
  align-self: flex-end;
  padding-right: 1rem;
}
.center__movie__card__inner__back__link {
  opacity: 0.75;
}

.end {
  height: 200px;
  background-color: #006494;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.end__streaming {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.end__streaming__plateform {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

@media only screen and (max-width: 600px) {
  .introduction__para {
    font-size: 1rem;
  }
  .introduction__titre {
    font-size: 2rem;
  }
  .introduction__navigation {
    visibility: hidden;
  }
  .movie__card {
    width: 650px;
    height: 650px;
  }
  .movie__card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .movie__card__inner__front {
    box-shadow: 5px 5px 10px grey;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .movie__card__inner__front:active {
    transform: rotateY(180deg);
  }
  .movie__card__inner__front__poster {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .movie__card__inner__back {
    box-shadow: 5px 5px 10px #EFEFEF;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .end {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .end__streaming {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */